<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN-SCRAP-DATA</title>
    <link rel="stylesheet" href="../static/css/index_style.css">
</head>
<body>
    <div class="container">
        <form class="form" action="/login" method="POST" >
            <div class="form_front">
                <p class="title-login">Ingreso</p>
                <div class="form_details">Login</div>
                <input placeholder="Usuario" class="input" type="text" name="user">
                <input placeholder="Contraseña" class="input" type="text" name="password">
                <button class="btn" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</body>
</html>